- name: Get info about config
  ansible.builtin.stat:
    path: "{{ ansible_env.HOME }}/.config/{{ item }}"
  register: link

- name: Delete existing config if not symlink
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.config/{{ item }}"
    state: absent
  when: link.stat.islnk is false

- name: Create symlink to config files
  ansible.builtin.file:
    src: "{{ ansible_env.HOME }}/.dotfiles/config/{{ item }}"
    dest: "{{ ansible_env.HOME }}/.config/{{ item }}"
    state: link

